*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
    font-family: sans-serif;
    margin: 0;
}

header{
    display: flex;
    height: 140px;
    background-color: hotpink;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

nav a{
    font-size: 15px;
    text-decoration: none;
    color:white;
    font-weight: 600;
    padding-left: 20px;
    padding-right: 20px;
    border: 8px solid rgb(94, 50, 72);
    border-radius: 40%;
}

nav a:hover{
    font-weight: 1000;
    background-color: rgb(224, 64, 144);
}

.logo img{
    height: 250px;
    margin-right: 0px;
}

main{
    text-align: center;
}

h1{
    font-size: 70px;
    color: hotpink;
}

h2{
    font-size: 60px;
    color: hotpink;
}

h3{
    font-size: 40px;
    color: hotpink;
}

.imgBanner{
    display: block;
    width: 90%;
    height: 700px;
    margin: auto;
    border: 5px solid white;
    margin-bottom: 20px;
}

section{
    display: flex;
}

section article p{
    height: 500px;
    width: 600;
    color: hotpink;
    font-size: 30px;
    margin-left: 200px ;
    margin-top: 200px;

}

section aside img {
    height: 500px;
    width: 600;
    border: 5px solid white;
    margin: 20px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 55vh;
}

.container div img {
    height: 500px;
    width: 600;
    border: 5px solid white;
    margin: 20px;
}

.container div p {
    text-align: center;
    color: hotpink;
    font-size: 30px;
}

div p {
    color: hotpink;
    font-size: 30px;
}

.container2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.contenedortips{
    display: flex;
    flex-direction: column;
}

.contenedor{
    border: 5px solid white;
    margin: 20px;
    display: flex;
    justify-content: center;
    
}

.Lista{
    font-size: 30px;
    border: 20px;
    align-content: center;
    text-align: start;
}

.contenedortips img{
    height: 500px;
    width: 600;
    border: 5px solid white;
    margin: 20px;
}

.tablaInformacion {
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    flex-direction: column;
    display: flex;
    width: 90%;
    height: 40vh;
}

table, tr, td, th {
    text-align: center;
    border: 1px solid black; 
    align-content: center;
    border-collapse: collapse;
    padding: 20px;
}

th {
    background-color: hotpink;
    color: white;
    font-weight: bold;
    
}

footer{
    display: flex;
    font-size: 25px;
    background-color:hotpink;
}

footer p{
    color:white;
    font-weight: 800;
    margin: auto;
}


